$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    /*.container {
        max-width: 730px;
    }*/

    /* Remove the padding we set earlier */
    .header,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
}


/* My stuff */

@import 'alerts';
@import 'widget';

@if compass-env() == 'development' {
  * {
    box-sizing: border-box;
    outline: 1px solid #000;
  }
}

.logo {
  color: red;
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
  float: left;
  padding: 15px 15px;
  line-height: 20px;
  margin-left: -15px;
}
.container {
  max-width: 750px !important;
}
.pagination {
  margin-left: 43px;
}
.form-container {
  width: 350px;
}
.injury-container {
  margin-left: 0px;
}
.injuries-container {
  margin-left: -20px;
}
.dl-horizontal dt {
  width: 80px;
}
.dl-horizontal dd {
  margin-left: 95px;
}
.revision {
  margin-right: 10px
}

.filters {
  padding: 0px 0px 10px 15px;
}

.green {
  background-color: lightgreen;
  display: block;
}
.red {
  background-color: red;
  display: block;
}
.grey {
  background-color: grey;
  display: block;
}

#loader {
  margin: 20px auto 20px auto;
  display: block;
}

