.ARS {
  background-color: red;
  color: white;
  a {
    color: white;
  }
}
.AST {
  background-color: #722F37;
  color: lightblue;
  a {
    color: lightblue;
  }
}
.CAR {
  background-color: red;
  color: white;
  a {
    color: white;
  }
}
.CHE {
  background-color: blue;
  color: white;
  a {
    color: white;
  }
}
.CRY {
  background-color: red;
  color: darkblue;
  a {
    color: darkblue;
  }
}
.EVE {
  background-color: blue;
  color: white;
  a {
    color: white;
  }
}
.FUL {
  background-color: white;
  color: black;
  a {
    color: black;
  }
  box-sizing: border-box;
  outline: 1px solid #000;
}
.HUL {
  background-color: orange;
  color: black;
  a {
    color: black;
  }
}
.LIV {
  background-color: red;
  color: white;
  a {
    color: white;
  }
}
.MCY {
  background-color: lightblue;
  color: black;
  a {
    color: black;
  }
}
.MAN {
  background-color: red;
  color: white;
  a {
    color: white;
  }
}
.NEW {
  background-color: black;
  color: white;
  a {
    color: white;
  }
}
.NOR {
  background-color: yellow;
  color: black;
  a {
    color: black;
  }
}
.SOU {
  background-color: red;
  color: white;
  a {
    color: white;
  }
}
.STO {
  background-color: red;
  color: white;
  a {
    color: white;
  }
}
.SUN {
  background-color: red;
  color: white;
  a {
    color: white;
  }
}
.SWA {
  background-color: white;
  color: black;
  a {
    color: black;
  }
  box-sizing: border-box;
  outline: 1px solid #000;
}
.TOT {
  background-color: white;
  color: darkblue;
  a {
    color: darkblue;
  }
  box-sizing: border-box;
  outline: 1px solid #000;
}
.WBA {
  background-color: darkblue;
  color: white;
  a {
    color: white;
  }
}
.WHU {
  background-color: #722F37;
  color: lightblue;
  a {
    color: lightblue;
  }
}
