/* Widget */

$pink: #FFEBE6;
$red: #FF0000;

@import 'team_colors';

.widget {
  margin-bottom: 10px;
  display: table;
  width: 100%;

  h4 {
    margin: 0px;
  }
  
  .sidebar {

    vertical-align: top;

    min-width: 80px;
    width: 15%;

    display: table-cell;
    padding: 5px 10px 5px 5px;
    h6 {
      margin-top: 5px;
      margin-bottom: 0px;
      font-weight: normal;
    }
    text-align: right;
  }

  .content {
    vertical-align: top;
    width: 85%;
    display: table-cell;
    background-color: $pink;
    padding: 5px 5px 5px 10px;

    .quote {
      margin-right: 5px;
      &:after {
        content: " - ";
      }
    }

    .micro-button {
    }

    .status {
      float: left;

      .small {
        margin-left: 5px;
      }
    }

    .ago {
      float: right;
      margin-top: 0px;
    }

    .info {
      clear: both
    }

    .footer {
      span {
        float: right;
        display: inline-block;
      }
      border-top: 0px; // override bootstrap default
      margin-top: 0px;
      margin-bottom: 0px;
      padding-top: 0px;
    }
  }
}
