.row
  .col-xs-9.signup-form-container
    form(novalidate name="form" class="signup-form")
      h4 Sign up
        div.alert.alert-info Please enter your details
        .form-group(ng-class="getClass(form.username)")
          label.control-label(for="username") Username
          input.form-control(id="signup_username" name="username" type="text" ng-model="user.username" ensure-unique required autofocus)
          span.help-block(ng-show="showError(form.username,'unique')") This username is taken.
        .form-group(ng-class="getClass(form.email)")
          label.control-label(for="email") E-mail
          input.form-control(name="email" type="email" ng-model="user.email" required ensure-unique)
          span.help-block(ng-show="showError(form.email,'unique')") This email is taken.
        .form-group(ng-class="getClass(form.password)")
          label.control-label(for="password") Password
          input.form-control(name="password" type="password" ng-model="user.password" required equals="user.passwordConfirmation")
          span.help-block(ng-show="showError(form.password,'equals')") The passwords do not match.
        .form-group(ng-class="getClass(form.passwordConfirmation)")
          label.control-label(for="passwordConfirmation") Confirm Password
          input.form-control(name="passwordConfirmation" type="password" ng-model="user.passwordConfirmation" required)
      div.modal-footer
        button.btn.btn-primary.login(ng-click="signup()" ng-disabled='form.$invalid') Sign up
