doctype html
html.no-js
  head
    base(href="/")
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Sidelined.io
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width')
    // Place favicon.ico and apple-touch-icon.png in the root directory
    // build:css({.tmp,app}) /styles/main.css
    link(rel='stylesheet', href='/styles/main.css')
    link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Oswald:400')
    // endbuild
  body(ng-app='sidelinedApp' ng-controller='SiteCtrl')
    nav.navbar.navbar-default.navbar-static-top
      .container
        .navbar-header
          a.logo(href="/") sidelined.io
        .navbar-collapse.collapse
          ul.nav.navbar-nav.navbar-right(ng-controller="LoginStatusCtrl")
            li.divider-vertical
            li(ng-show="isAuthenticated()")
              a(href="#") {{username}} is logged in
            li.logout(ng-show="isAuthenticated()")
              form.navbar-form
                button.btn.logout(ng-click="logout()") Log out
            li.signup(ng-hide="isAuthenticated()")
              a.btn.signup(ui-sref="signup") Sign up
            li.login(ng-hide="isAuthenticated()")
              form.navbar-form(ng-controller="LoginModalCtrl")
                button.btn.login(ng-click="open()") Log in
    .container(ng-view='')
      .ui-view
    // build:js({.tmp,app}) /scripts/scripts.js
    script(src='/bower_components/angular/angular.js')
    script(src='/bower_components/angular-bootstrap/ui-bootstrap-tpls.js')
    script(src='/bower_components/angular-ui-router/release/angular-ui-router.js')
    script(src='/bower_components/angularjs-rails-resource/angularjs-rails-resource.js')
    script(src='/bower_components/angular-http-auth/src/http-auth-interceptor.js')
    script(src='/scripts/app.js')
    script(src='/scripts/controllers/Site.js')
    script(src='/scripts/controllers/LoginModal.js')
    script(src='/scripts/controllers/LoginModalInstance.js')
    script(src='/scripts/controllers/LoginStatus.js')
    script(src='/scripts/controllers/Signup.js')
    script(src='/scripts/services/Session.js')
    script(src='/scripts/filters/ago.js')
    script(src='/scripts/filters/capitalize.js')
    script(src='/scripts/directives.js')
    script(src='/scripts/injuries.js')
    script(src='/scripts/players.js')
    script(src='/scripts/alerts.js')
    // endbuild
