doctype html
html.no-js
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Sidelined.io
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width')
    // Place favicon.ico and apple-touch-icon.png in the root directory
    // build:css({.tmp,app}) styles/main.css
    link(rel='stylesheet', href='styles/main.css')
    // endbuild
  body(ng-app='sidelinedApp')
    .container(ng-view='')
      h1 Hello Universes
    script(src='bower_components/jquery/jquery.js')
    script(src='bower_components/angular/angular.js')
    script(src='bower_components/angular-ui-router/release/angular-ui-router.js')
    // build:js scripts/plugins.js
    script(src='bower_components/sass-bootstrap/js/affix.js')
    script(src='bower_components/sass-bootstrap/js/alert.js')
    script(src='bower_components/sass-bootstrap/js/button.js')
    script(src='bower_components/sass-bootstrap/js/carousel.js')
    script(src='bower_components/sass-bootstrap/js/transition.js')
    script(src='bower_components/sass-bootstrap/js/collapse.js')
    script(src='bower_components/sass-bootstrap/js/dropdown.js')
    script(src='bower_components/sass-bootstrap/js/modal.js')
    script(src='bower_components/sass-bootstrap/js/scrollspy.js')
    script(src='bower_components/sass-bootstrap/js/tab.js')
    script(src='bower_components/sass-bootstrap/js/tooltip.js')
    script(src='bower_components/sass-bootstrap/js/popover.js')
    // endbuild
    // build:js({.tmp,app}) scripts/scripts.js
    script(src='scripts/app.js')
    script(src='scripts/controllers/main.js')
    // endbuild
