.widget
  .sidebar
    h4 
      a(ui-sref="players.show({id:injury.player.id})")
        |&#35;{{injury.player.shortName}}
    h6
      | {{injury.player.longName}} 
  .content
    .header
      h4.status
        a(ui-sref="injuries.show({id:injury.id})")
          | {{injury.status|capitalize}}
        span.small
          | {{injury.returnDate|sidelined}}
      h6.ago
        | {{injury.updatedAt|timeago}}
    .info
      i.quote(ng-if="injury.quote")
        | {{injury.quote}}
      a.source(href="{{injury.source}}")
        | {{injury.source|domain}}
    .footer
      span
        small
          | Posted by {{injury.modifier.username}}      
        a.button.btn.btn-primary.btn-xs.micro-button(ng-href="/injuries/{{injury.id}}/update") Update      
