.row
  .col-xs-12.filters
    a(ui-sref="injuries.new") Add new injury
.row
  .col-xs-12.filters
    form.form-inline(role="form")
      .form-group
        label Injured
        input(type="checkbox" ng-model="filters.injured")
      .form-group
        label Doubtful
        input(type="checkbox" ng-model="filters.doubtful") 
      .form-group
        label Recovered
        input(type="checkbox" ng-model="filters.recovered") 
.row(ng-hide="isLoading()")
  div(ng-repeat="injury in injuries")
    ng-include(src="injury.templateUrl")
.row(ng-show="isLoading()")
  .col-xs-12
    img#loader(src="/images/ajax-loader.gif")
.row(ng-show="showPagination()")
  pagination(total-items="totalItems" page="page" max-size="maxSize" on-select-page="goToPage(page)" items-per-page="itemsPerPage")
