html
  head
    // build:css({.tmp,app}) /styles/bookmarklet.css
    link(rel='stylesheet', href='/styles/bookmarklet.css')
    // endbuild
  body(ng-app="bookmarkletApp" ng-controller="BookmarkletController")
    .row
      .col-xs-12(ng-controller="LoginStatusController")
        ul.list-inline
          li(ng-show="isAuthenticated()")
            a(href="#") {{username}} is logged in
          li.logout(ng-show="isAuthenticated()")
            a.logout(ng-click="logout()") Log out
          li(ng-hide="isAuthenticated() || showLogin")
            a(ui-sref='login') Log in
          li.text-right.pull-right
            a.span.glyphicon.glyphicon-remove.text-right(ng-click="close()")
    .row
      .col-xs-12.alert-container(ng-controller="AlertCtrl")
        alert(ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)") {{alert.msg}}
    .row
      .col-xs-12
        .ui-view
    // build:js({.tmp,app}) /scripts/bookmarklet_app.js
    script(src='/bower_components/angular/angular.js')
    script(src='/bower_components/angular-ui-router/release/angular-ui-router.js')
    script(src='/bower_components/angular-bootstrap/ui-bootstrap-tpls.js')
    script(src='/bower_components/angular-http-auth/src/http-auth-interceptor.js')
    script(src='/bower_components/angularjs-rails-resource/angularjs-rails-resource.js')
    script(src='/scripts/filters.js')
    script(src='/scripts/bookmarklet/init.js')
    script(src='/scripts/services/Session.js')
    script(src='/scripts/injuries.js')
    script(src='/scripts/players.js')
    script(src='/scripts/alerts.js')
    // endbuild
