html
  head
    title Test Site
  body
    h1 test site
  script(type="text/javascript").
    var js = document.createElement('script');    
    js.setAttribute('src', '/bookmarklet.js');    
    document.body.appendChild(js);  
